
.container{
    margin-top: 100px;
    width: 200px;
    background-color: black;
    border-radius: 20px;
}
input{
    background-color: black;
    border: none;
    font-size: xx-large;
    color: aliceblue;
    text-align: right;
    
}
#result{
    margin: 0;
    padding: 8px;
height: 80px;
width: 90%;



}
#buttons{
    border-radius: 15px 0;
}
button{
    cursor: pointer;
    border: none;
    color: aliceblue;
    
}
table{
    width: 100%;
    padding: 5px;
}
.num{
    border-radius: 50%;
    background-color:rgb(167, 162, 162);
    height: 40px;
    width: 40px;
}
.op{
    border-radius: 50%;
    background-color: orange;
    height: 40px;
    width: 40px;
}
.deff{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: rgb(214, 210, 210);
}
