
.container{
    width: 200px;
}
#result{
height: 80px;
border: 1px solid black;

}
button{
    cursor: pointer;
    
}
table{
    width: 100%;
}
.num{
    border-radius: 50%;
    background-color:rgb(167, 162, 162);
    height: 40px;
    width: 40px;
}
.op{
    border-radius: 50%;
    background-color: orange;
    height: 40px;
    width: 40px;
}
.deff{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: rgb(214, 210, 210);
}
